
<div class="flex items-end">
  <div class="max-w-xl pr-5">
    <div class="relative mt-5 mb-0">
      <h1 class="font-light text-6xl -tracking-wider mt-0 mb-8 mx-0">LV Baby Collection</h1>

      <h2 class="font-light text-4xl -tracking-wider mt-0 mb-8 mx-0">Exclusive and private NFT society
      
      </h2>
      <h4 class="leading-7 text-base mt-0 mb-4 mx-0">
        <span class="opacity-60">A collective of a thousand most trusted, intelligent and influential people joined by an upcoming most exclusive, most unique and valuable NFT collection. “LV Baby” - Luxury Babies NFT Collection.</span>
      </h4>
    </div>
  </div>
</div>
